@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
.app {
  min-height: 100vh;
  color: white;
  /* background: linear-gradient(#0b004e, #1d152f, #002834); */
  /* background: linear-gradient(#001f3f, #0074d9, black); */
  background-color: #001f3f;
}
